In [1]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [3]:
company='infosys'
age=17
percentage=9.1
print(type(company))
print(type(age))
print(type(percentage))
# task1 : write code for 1.Numeric   : 	integer (positive, negative, binary, octal, hexa )           2.float          3.complex	
# 4. Boolean
#task2 : code for all arithmatic operators
# 1.Concatenation [+] : Appends the second string to the first.
# 2.Repetition [*] : Concatenates multiple copies of the same string.
# 3.Slice [] : Gives the character at given index.
# 4. Range Slice [:] : [start:stop] Returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number i.e. stop is exclusive. last index is referred to as -1
# 5.In Membership [in] : Returns true if a character exists in the given string
# 6.Not in membership [not in] : Returns true if a character does not exist in the given string.
 
# task3-string operators

<class 'str'>
<class 'int'>
<class 'float'>

In [9]:
#task-1
salary=100000
s=100000.0
s1=3+4j
s2=True
print(type(salary))
print(type(s))
print(type(s1))
print(type(s2))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>

In [11]:
#task-2
n1=5
n2=4
print(n1+n2)
print(n1-n2)
print(n1*n2)
print(n1/n2)
print(n1//n2)
print(n1%n2)

9
1
20
1.25
1
1

In [13]:
#task-3
a='Nihar'
b='Kore'
print(a+b)
print(a*2)
print(a[1:4])
print(a[0])
print('N' in a)
print('N' not in a)

NiharKore
NiharNihar
iha
N
True
False